# Ignore artifacts:
build
coverage
config


# Ignore d2
public/lib/
src/lib/d2/

# Ignore all HTML files:
*.html

# default 
**/.git
**/.svn
**/.hg
**/node_modules

public
docs

src/libs/d2
src/types/d2
src/styles/d2

reportWebVitals.ts
typedoc.json
