.tui-grid-header-area .tui-grid-table {
	border-top-style: hidden;
}

.tui-grid-show-lside-area .tui-grid-lside-area .tui-grid-header-area .tui-grid-table {
	border-top-style: hidden;
}

.tui-grid-cell.blue {
	background-color: blue;
}
/* .blue {
	background-color: blue;
} */
